PORT=8000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/videotube
CORS_ORIGIN= *
ACCESS_TOKEN_SECRET=hello_Sangita
ACCESS_TOKEN_EXPIRY= 1d
REFRESH_TOKEN_SECRET=chai_aur_backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=duq23pkol
CLOUDINARY_API_KEY=361517466258354
CLOUDINARY_API_SECRET=_-Vn3_u45S0Aj5S3tgOBCN_jqmw

REDIS_URL=redis://default:YOUR_PASSWORD_HERE@redis-16583.c264.ap-south-1-1.ec2.cloud.redislabs.com:16583

GEMINI_API_KEY= <your api key here>

