PORT=8000
MONGODB_URI=mongodb://sangitah652_db_user:sanhal652@ac-bztifxk-shard-00-00.as0j4z4.mongodb.net:27017,ac-bztifxk-shard-00-01.as0j4z4.mongodb.net:27017,ac-bztifxk-shard-00-02.as0j4z4.mongodb.net:27017/videotube?ssl=true&replicaSet=atlas-fwp3pe-shard-0&authSource=admin&retryWrites=true&w=majority
CORS_ORIGIN= *
ACCESS_TOKEN_SECRET=hello_Sangita
ACCESS_TOKEN_EXPIRY= 1d
REFRESH_TOKEN_SECRET=chai_aur_backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=duq23pkol
CLOUDINARY_API_KEY=361517466258354
CLOUDINARY_API_SECRET=_-Vn3_u45S0Aj5S3tgOBCN_jqmw

